{% extends 'base.html.twig' %}

{% block title %}Chaussure{% endblock %}

{% block body %}
    <h1>Chaussure</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chaussure.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ chaussure.type ? chaussure.type|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ chaussure.marque }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ chaussure.taille }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_chaussure_index') }}">back to list</a>

    <a href="{{ path('app_chaussure_edit', {'id': chaussure.id}) }}">edit</a>

    {{ include('chaussure/_delete_form.html.twig') }}
{% endblock %}
